<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- libreria css -->
  <link rel="stylesheet" href="{% static "css/formstyles.css" %}">
  <!-- google-fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
  <!-- libreria iconos -->
  <link href="{% static "fontawesome-free-5.13.0-web\css\fontawesome.css" %}" rel="stylesheet">
  <link href="{% static "fontawesome-free-5.13.0-web\css\brands.css" %}" rel="stylesheet">
  <link href="{% static "fontawesome-free-5.13.0-web\css\solid.min.css" %}" rel="stylesheet">

  <!-- libreria bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- librerias jquery, and js -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <title>Biblioteca</title>
  <link rel="icon" href="{% static "sharelive.ico" %}">
</head>

<body>
  <div class="sidenav">
    <a href="{% url 'principal' %}" id="{% static "brand" %}"><img src="{% static "Images/sharelive.png"%}" alt="" width="40px"; height="40px" title="ShareLive";></a>
    <hr>
    <a href="#" class="s event" title="Standup Comedy"><i class="fas fa-theater-masks"></i></i></a>
    <a href="#" class="g event" title="Ocio"><i class="fas fa-microphone-alt"></i></a>
    <a href="#" class="c event" title="Conciertos"><i class="fas fa-music"></i></a>
    <a href="#" class="m event" title="Conferencias"><i class="fas fa-users"></i></a>
    <hr>
    <a href="#" title="Sobre Nosotros"><i class="fas fa-heart"></i></i></a>
    <a href="#" title="Historial"><i class="fas fa-clock"></i></a>
  </div>

  <!-- articles list -->
  <div class="main" id="main">
    <div class="description">
      <h2 id="descrip">Escoge entre multiples categorias</h2>
      <p id="pdes">En nuestra biblioteca encontaras el mejor contenido de todo lo que mas te gusta, explora nustras distintas galerias mientras que sigues disfrutando de tus expectaculos en VIVO.</p>
    </div>
    <div class="vid-list">
      <div class="vid">
          <a href="{% url 'reproductor' %}" method="post" action="{% url 'reproductor' %}"><img src="" alt="" id="img1"></a>
        <div class="centrado" id="carta1">
          <!-- #1 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img2"></a>
        <div class="centrado" id="carta2">
          <!-- #2 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img3"></a>
        <div class="centrado" id="carta3">
          <!-- #3 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img4"></a>
        <div class="centrado" id="carta4">
          <!-- #4 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img5"></a>
        <div class="centrado" id="carta5">
          <!-- #5 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img6"></a>
        <div class="centrado" id="carta6">
          <!-- #6 -->
        </div>
      </div>
      <div class="vid">
          <a href="{% url 'reproductor' %}"><img src="" alt="" id="img7"></a>
        <div class="centrado" id="carta7">
          <!-- #7 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img8"></a>
        <div class="centrado" id="carta8">
          <!-- #8 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img9"></a>
        <div class="centrado" id="carta9">
          <!-- #9 -->
        </div>
      </div>
      <div class="vid">
        <a href="{% url 'reproductor' %}"><img src="" alt="" id="img10"></a>
        <div class="centrado" id="carta10">
          <!-- #10 -->
        </div>
      </div>
    </div>
  </div>
  <!-- end articles list -->
<script src="{% static "JavaScript\library.js" %}" charset="utf-8"></script>
</body>

</html>
